# venvy
.venv/
plant-server/venv/

# dane i wrażliwe pliki
plant-logger/data/config.json
plant-logger/data/latest.json
plant-logger/data/series_week.json
plant-logger/data/forecast.json
plant-logger/data/measurements_*.csv
plant-logger/data/*.log

# artefakty ML (modele, metryki itd.)
plant-logger/data/ml/
*.pkl

# cache/bajery
__pycache__/
*.pyc
logs/

# potencjalne sekrety
.env
*.env
